@model ResourceVM

<form class="space-y-5" method="post" asp-controller="Administrator" asp-action="Resource">
    <partial name="~/Views/PartialComponents/_AlertMessage.cshtml" model="Model.ErrorMessage" />
    <div class="mb-3">
        <input class="form-input" asp-for="Id" type="hidden">
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="CultureId">Qaysi tilda ekanligini kiritasan... </label>
        <select class="form-select" asp-for="CultureId" asp-items="Model.Cultures.Select(i=>new SelectListItem(){Value = i.Id.ToString(), Text = i.Name})">
        </select>
        <span class="text-danger" asp-validation-for="CultureId"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="Key">Kalitni kiritasan... </label>
        <input class="form-input" asp-for="Key" type="text">
        <span class="text-danger" asp-validation-for="CultureId"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="Value">Qiymatini kiritasan... </label>
        <input class="form-input" asp-for="Value" type="text">
        <span class="text-danger" asp-validation-for="Value"></span>
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Saqlash" />
        <a class="btn btn-success" asp-controller="Administrator" asp-action="ResourceIndex">Main pagega qaytish</a>
    </div>
</form>