@using FanurApp.Enums;
@model RoleIndexVM;

<partial name="~/Views/PartialComponents/_AlertMessage.cshtml" model="Model.Message" />

<a class="btn btn-info" asp-controller="Administrator" asp-action="Role" asp-route-id="0">Yangi role yaratish</a>
<a class="btn btn-success" asp-controller="Administrator" asp-action="RoleIndex">Sahifani yangilash</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nomi</th>
            <th>Tahrirlash</th>
            <th>O'chirish</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Roles)
        {
            <tr>
                <th>@course.Id</th>
                <th>@course.Name</th>
                <th>
                    <a class="btn btn-warning" asp-controller="Administrator" asp-action="Role"
                       asp-route-id="@course.Id">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </th>
                <th>
                    <form method="post" asp-controller="Administrator" asp-action="DeleteRole"
                          asp-route-id="@course.Id">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table> 