@model VideoVM

<form class="space-y-5" method="post" asp-controller="Administrator" asp-action="Video">
    <partial name="~/Views/PartialComponents/_AlertMessage.cshtml" model="Model.ErrorMessage" />
    <div class="mb-3">
        <input class="form-input" asp-for="Id" type="hidden">
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="TopicId">Mavzuni nomini kiritasan... </label>
        <select class="form-select" asp-for="TopicId" asp-items="Model.Topics.Select(i=>new SelectListItem(){Value = i.Id.ToString(), Text = i.Name})">
        </select>
        <span class="text-danger" asp-validation-for="TopicId"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="URLName">URLni nomini kiritasan... </label>
        <input class="form-input" asp-for="URLName" type="text">
        <span class="text-danger" asp-validation-for="URLName"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="Author">Muallifni nomini kiritasan... </label>
        <input class="form-input" asp-for="Author" type="text">
        <span class="text-danger" asp-validation-for="Author"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="Caption">Caption ni kiritamiz</label>
        <input class="form-input" asp-for="Caption" type="text">
        <span class="text-danger" asp-validation-for="Caption"></span>
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Saqlash" />
        <a class="btn btn-success" asp-controller="Administrator" asp-action="VideoIndex">Main pagega qaytish</a>
    </div>
</form>