<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="inner">
    <div class="content breadcrumb-style-max-width blog-content-wrapper">
        <audio class="mb--40" controls="">
            <source src="~/files/Go'zalimsan.m4a">
            Your browser does not support the audio tag.
        </audio>

        <h4>Bu uchun quyidagicha ishni qiling</h4>

        <p>
            <a href="#">Every year, app and game</a> developers demonstrate exceptional craftsmanship and
            we’re honoring the best of the best,” said Ron Okamoto, Apple’s vice president of Worldwide
            Developer Relations. “Receiving an Apple Design Award is a special and laudable accomplishment.
        </p>

        <p>
            Every year, app and game developers demonstrate exceptional craftsmanship and we’re honoring the
            best of the best,” said Ron Okamoto, Apple’s vice president of Worldwide Developer Relations.
            “Receiving an Apple Design Award is a special and laudable accomplishment. Past honorees have
            made some of the most noteworthy apps and games of all time. Through their vision,
            determination, and exacting standards, the winning developers inspire not only their peers in
            the Apple developer community, but all of us at Apple, too.
        </p>

        <div class="rbt-comment-area">
            <div class="comment-respond">
                <h4 class="title">Javobingizni kiriting</h4>
                <form action="#">
                    <p class="comment-notes">
                        Ma'lumotlarni ehtiyotlik bilan kiriting,har bir so'zni ham tekshirib
                    </p>
                    <div class="row row--10">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="message">Mening javobim</label>
                                <textarea id="message" name="message"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <a class="rbt-btn btn-gradient icon-hover radius-round btn-md" href="#">
                                <span class="btn-text">Javobni jo'natish</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="bg-color-extra2 ptb--15 overflow-hidden">
    <div class="rbt-button-group">

        <a class="rbt-btn icon-hover icon-hover-left btn-md bg-primary-opacity" href="#">
            <span class="btn-icon"><i class="feather-arrow-left"></i></span>
            <span class="btn-text">Previous</span>
        </a>

        <a class="rbt-btn icon-hover btn-md" href="#">
            <span class="btn-text">Next</span>
            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
        </a>

    </div>
</div>