<div class="inner">
    <div class="content">
        <div class="section-title">
            <h2>Birinchi o'rinda og'ayni to'lovni qil :)</h2>
           </div>
    </div>
</div>

<div class="bg-color-extra2 ptb--15 overflow-hidden">
    <div class="rbt-button-group">

        <a class="rbt-btn icon-hover btn-md" href="#">
            <span class="btn-text"><img width="100px" src="~/lib/main_template/assets/images/fanur/payme.png" /></span>
            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
        </a>

        <a class="rbt-btn icon-hover btn-md" href="#">
            <span class="btn-text"><img width="100px" src="~/lib/main_template/assets/images/fanur/click.png" /></span>
            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
        </a>

        <a class="rbt-btn icon-hover btn-md" href="#">
            <span class="btn-text">Iman pay</span>
            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
        </a>

    </div>
</div>